parameters:
    level: 5
    fileExtensions:
        - php
        - module
        - inc
        - install
        - theme
        - profile
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Remove once this is fixed https://www.drupal.org/project/webform/issues/3478049
        - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
